<div class="sidebar" [class.expanded]="isExpanded()">
  <ul class="menu">
    <li matTooltip="Inicio" (click)="handleClick('Inicio', '/home')">
      <mat-icon>home</mat-icon>
      <span *ngIf="isExpanded()">Inicio</span>
    </li>

    <li matTooltip="Cuentas">
      <mat-icon>Cuentas</mat-icon>
    </li>
    <li matTooltip="Notificaciones">
      <mat-icon>notifications</mat-icon>
    </li>
    <li matTooltip="Clientes">
      <mat-icon>Clientes</mat-icon>
    </li>
    <li matTooltip="Ganancias">
      <mat-icon>Finanzas</mat-icon>
    </li>
  </ul>

  <div class="footer" matTooltip="Más" (click)="handleClick('Más', '/home')">
    <mat-icon>menu</mat-icon>
    <span *ngIf="isExpanded()">Más</span>
  </div>
</div>
